*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');
img{
  max-width: 100%;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
body{
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  background-color: #f4f4f4;
}

/* Button */
.btn {
  display: inline-block;
  background-color: #ff014f;
  padding: 8px 30px;
  text-transform: uppercase;
  color: #fff;
  transition: .3s;
  border: 2px solid transparent;
}
.btn:hover {
  background-color: transparent;
  border-color: #ff014f;
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 60px;
}
.section-title span {
  display: block;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 40px;
}
.section-title h4 {
  font-size: 40px;
  text-transform: capitalize;
  line-height: 40px;
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
}
.section-title h4:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ff014f;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Header */
.header-area {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9;
	top: 40px;
  transition: .3s;
}
.header-area.sticky {
	top: 0;
	position: fixed;
	background-color: #ff014f;
}
.header {
  background-color: #ff014F;
  padding: 20px 35px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.header ul {
  list-style: none;
  display: flex;
}
.header ul li {
  margin: 0 10px;
}
.header ul li a {
  color: #fff;
  transition: .3s;
}
.header ul li a:hover {
  color: #333;
}
.social-link a {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  transition: .3s;
}
.social-link a:hover {
  color: #333;
}
.menu-icon i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.menu-icon {
  display: none;
}

/* Bannar */
.bannar-area {
  padding: 200px 0 100px;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-color: #2a2a2a;
  color: #fff;
}
.bannar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bannar-content {
  flex-basis: 70%;
}
.bannar-img {
  flex-basis: 30%;
}
.bannar-content h6 {
  text-transform: uppercase;
  font-size: 30px;
}
.bannar-content h2 {
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  text-transform: uppercase;
}
.bannar-content h2 span {
  color: #ff014f;
}
.bannar-content h5 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.bannar-content a {
  margin-top: 30px;
}

/* About */
.about-area {
  padding: 100px 0;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-img {
  flex-basis: 40%;
}
.about-content {
  flex-basis: 50%;
}
.about-content h5 {
  font-size: 24px;
  text-transform: capitalize;
}
.about-content h2 {
  font-size: 40px;
  line-height: 40px;
  margin: 10px 0 20px;
  text-transform: capitalize;
}
.about-info {
  display: flex;
  margin: 20px 0;
}
.about-info ul {
  list-style: none;
  margin-right: 30px;
}
.about-info ul li {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.about-info ul li span {
  color: #ff014f;
  margin-right: 25px;
}
.about-content a:hover {
  color: #333;
}

/* Servcies */
.services-area {
  border-top: 3px solid #ddd;
  padding: 100px 0;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-service {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fff;
  padding: 30px 20px;
  margin-bottom: 30px;
  flex-basis: 32%;
  transition: .3s;
}
.single-service i {
  font-size: 26px;
  color: #fff;
  background-color: #ff014f;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}
.single-service h4 {
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 26px;
}
.single-service:hover {
  border-color: #ff014f;
}
.resume-area {
  padding: 100px 0;
  background-color: #2a2a2a;
  color: #fff;
}
.single-resume {
  background-color: #ff014f;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
}
.single-resume span {
  text-transform: capitalize;
  font-size: 22px;
}

/* Projects */
.projects-area {
  padding: 100px 0;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.single-project {
  flex-basis: 33.33%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}
.project-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: .3s;
}
.project-content:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .9;
  z-index: -1;
}
.project-content h4 {
  color: #fff;
  text-transform: capitalize;
  font-size: 28px;
  line-height: 40px;
}
.project-content i {
  color: #fff;
  font-size: 22px;
  border: 1px solid #ff014f;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}
.project-content p {
  color: #fff;
  text-transform: capitalize;
}
.single-project:hover .project-content {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* Prices */
.prices-area {
  background-color: #333;
  color: #fff;
  padding: 100px 0;
}
.prices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-price {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px 20px;
  color: #333;
  flex-basis: 32%;
}
.single-price span {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}
.single-price h4 {
  font-size: 50px;
  line-height: 70px;
}
.single-price ul {
  list-style: none;
  margin: 25px 0;
}
.single-price ul li {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.single-price ul li:last-child {
  border-bottom: 0;
}
.single-price a:hover {
  color: #333;
}
.single-price.active {
  background-color: #ff014f;
  border-color: #ff014f;
  color: #fff;
}
.single-price.active a {
  border-color: #333;
}

/* Contact */
.contact-area {
  padding: 100px 0;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-form {
  flex-basis: 60%;
}
.contact-info {
  flex-basis: 37%;
}
.contact-form h4 {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.contact-form input[type="submit"] {
  width: auto;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  border: 2px solid transparent;
  margin-top: 20px;
}
.contact-form input[type="submit"]:hover {
  border: 2px solid #ff014f;
  color: #333;
}
.single-contact {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 20px 0;
}
.single-contact i {
  background-color: #ff014f;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  border-radius: 50%;
  margin-right: 10px;
}
.single-contact h4 {
  text-transform: uppercase;
  font-size: 20px;
}
.single-contact h4 span {
  display: block;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 400;
  margin-top: 5px;
}

/* Footer */
.footer-area {
  text-align: center;
  background-color: #2a2a2a;
  padding: 40px 0;
}
.footer-area a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: .3s;
}
.footer-area a:hover{
  color: #ff014F;
}
.footer-area p {
  color: #fff;
  text-transform: capitalize;
  margin-top: 15px;
}

/* Medium Device */
@media only screen and (min-width:992px) and (max-width:1200px) {
  .container{
      width: 970px;
  }
}

/* Tablet Device */
@media only screen and (min-width:768px) and (max-width:991px) {
  .container{
      width: 750px;
  }
  .menu-icon{
      display: block;
  }
  .header ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #2a2a2a;
      width: 100%;
      left: 0;
      top: -280px;
      text-align: center;
      transition: .3s;
  }
  .header ul.open{
      top: 85px;
  }
  .header ul li a:hover {
      color: #ff014f;
  }
  .about{
      flex-direction: column;
  }
  .about-content {
      margin-top: 30px;
  }
  .single-service{
      flex-basis: 49%;
  }
  .single-price {
      padding: 15px 5px;
  }
}

/* Mobile Device */
@media only screen and (max-width:767px) {
  .container{
      width: 350px;
  }
  .menu-icon{
      display: block;
  }
  .header ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #2a2a2a;
      width: 100%;
      left: 0;
      top: -280px;
      text-align: center;
      transition: .3s;
  }
  .header ul.open{
      top: 140px;
  }
  .header ul li a:hover {
      color: #ff014f;
  }
  .header{
      flex-direction: column;
  }
  .social-link {
      margin: 20px 0 5px;
  }
  .bannar{
      flex-direction: column-reverse;
  }
  .bannar-content h2 {
      font-size: 38px;
      line-height: 70px;
  }
  .bannar-content h5 {
      font-size: 18px;
      margin-bottom: 10px;
  }
  .about-img, .about-content, .single-service, .single-project, .single-price, .contact-form, .contact-info {
      flex-basis: 100%;
  }
  .about-content h2 {
      font-size: 24px;
      line-height: 30px;
  }
  .about-info, .single-resume {
      flex-direction: column;
  }
  .single-resume span{
      margin: 10px 0;
  }
  .single-price{
      margin-bottom: 30px;
  }
}